fastapi==0.111.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9
pydantic==2.7.1
pillow==10.3.0
opencv-python-headless==4.9.0.80
numpy==1.26.4

# PyTorch CPU (version compatible Python 3.11)
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.0
torchvision==0.18.0